@font-face {
    font-family: 'fogtwo';
    src: url(FogtwoNo5.ttf);
}

body{
    background-color: #ded7d1;
 
}

#return{
    font-family: 'fogtwo';
    color: #36316c;
    font-size: 20px;
    letter-spacing: 10px;

    position: absolute;
    top: 20px;
    left: 20px;
    border: #36316c 1px solid;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;

    scale: 80%;

    opacity: 50%;

    transition: 0.5s;
}

#return:hover{
    opacity: 100%;
}

#title{
    font-family: 'fogtwo';
    font-weight:lighter;
    color: #36316c;
    position: absolute;
    letter-spacing: 20px;
    left: 550px;
    top: 20px;
    font-size: 10px;
}

#scroll-gallery{
    width: 1200px;
    height: 600px;
    border: #36316c 1px solid;
    border-radius: 50px;
    position: absolute;
    top: 90px;
    left: 130px;

    overflow: scroll;

}

.snack{
    width: 1200px;
    height: 3590px;
    position: absolute;
    left: 100px;
}

#one{
    width: 200px;
}


